<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 mb-5">
  <a class="navbar-brand" routerLink="/">Machines Dash</a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/machines" routerLinkActive="active">Machines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/machines/create" routerLinkActive="active">Create Machine</a>
      </li>
    </ul>
  </div>
</nav>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
